// Benefits container styles
.benefitsContainer {

  width: 100%;
  margin: 30px auto;

  .item1 {
    grid-area: item1;
  }

  .item2 {
    grid-area: item2;
  }

  .item3 {
    grid-area: item3;
  }

  .item4 {
    grid-area: item4;
  }

  .item5 {
    grid-area: item5;
  }

  .item6 {
    grid-area: item6;
  }

  &__header {
    width: 340px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  &__list {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6';
    gap: 20px;
    margin: 50px auto 0;
  }

  &__item {
    display: flex;
    gap: 20px;
    width: 340px;
    height: 36px;
    align-items: center;
    line-height: 17.64px;

    &:hover {
      .benefitsContainer__iconWrapper svg {
        path {
          fill: #c2110e;
        }
      }
    }
  }

  &__item svg {
    width: 22px;
    height: 22px;
  }

  &__bold {
    font-weight: 800;
  }


  @media screen and (min-width: 768px) {
    &__header {
      width: 416px;
    }

    &__list {
      width: 550px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'item3 item2'
        'item6 item4'
        'item5 item1';
      gap: 40px;
    }

    &__item {
      width: 253px;
      font-size: 16px;
      line-height: 20.16px;
    }

    &__item svg {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1920px) {
    &__header {
      width: 816px;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'item3 item2 item4'
        'item6 item5 item1';
      gap: 60px;
      width: 919px;
    }

  }
}