@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import '../node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import '../node_modules/@glidejs/glide/src/assets/sass/glide.theme';

// Global styles
body {
  width: 393px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

// Header styles
.header {
  position: relative;
  height: 52px;
  background-color: #f5f5f5;

  &__hamburger {
    text-align: center;
    width: 35px;
    height: 13px;
    position: absolute;
    top: 16px;
    left: 17px;
  }

  &__logo {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 19.08px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__navbar {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
    &__logo {
      font-size: 32px;
    }

    &__hamburger {
      display: none;
    }

    &__navbar {
      font-size: 16px;
      color: #0b0a0c;
      display: flex;
      gap: 20px;
      position: absolute;
      left: 36px;
      top: 30px;
    }
    &__navbar a {
      font-family: 'Plus Jakarta Sans', sans-serif;
      color: #0b0a0c;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
    }
  }
  @media screen and (min-width: 1920px) {
    &__navbar {
      left: 497px;
    }
  }
}

// Main content styles
main {
  width: 393px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

// Main image container styles
.mainImgContainer {
  position: relative;
  background-image: url('/assets/mainImgMobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 699px;

  &__h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 354px;
    text-align: center;
    font-weight: 800;
    font-size: 51.36px;
    margin: 0;
    color: #ffffff;
  }
  &__tryMeBtn {
    position: absolute;
    background-color: #c2110e;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 42px;
    border-radius: 15px;
    width: 360px;
    height: 54px;
    border: none;
    color: white;
    font-size: 1.2em;
  }

  @media screen and (min-width: 768px) {
    background-image: url('/assets/main-image-tablet-good.jpg');
    height: 1024px;
    width: 768px;

    &__h1 {
      width: 602px;
    }

    &__tryMeBtn {
      top: 816px;
    }
  }

  @media screen and (min-width: 1920px) {
    background-image: url('/assets/main-image.jpg');
    width: 1920px;
    height: 700px;

    &__tryMeBtn {
      top: 600px;
    }
  }
}

// Properties list styles
.propertiesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
  margin: 30px 0;

  &__item {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f9e8e7;
    border-radius: 15px;
    height: 118px;
    width: 170px;
    text-align: center;
    line-height: 17.64px;
    display: grid;
    place-items: center;
    gap: 15px;
    font-size: 14px;
    &:hover {
      .propertiesList__textIconWrapper {
        svg {
          path {
            fill: #c2110e;
          }
        }
      }
    }
  }

  &__textIconWrapper {
    height: 90px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 10px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    width: 696px;
    margin: 30px auto;

    &__item {
      width: 150px;
      font-size: 16px;
      line-height: 20.16px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 927px;
    &__item {
      width: 213px;
      height: 98px;
      display: flex;
    }

    &__textIconWrapper {
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 15px;
      gap: 10px;
    }

    &__textIconWrapper p {
      flex: 1;
      text-align: left;
      margin: 0;
      font-size: 14px;
    }

    &__item:last-child {
      .propertiesList__textIconWrapper {
        justify-content: center;

        p {
          flex: 0 1 auto;
          text-align: left;
          max-width: 90px;
          margin-left: 10px;
        }
      }
    }
  }
}

// Subscribe container styles
.subscribeContainer {
  background-color: #0b0a0c;
  color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  height: 245px;
  position: relative;
  box-sizing: border-box;

  &__list {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-left: 20px;
  }

  &__item {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__header {
    font-weight: 600;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateX(50%) translateY(-50%) rotate(-90deg);
  }

  @media screen and (min-width: 768px) {
    height: 214px;
    padding-bottom: 40px;

    &__list {
      flex-direction: row;
      align-items: end;
      gap: 70px;
      padding: 0;
      font-size: 16px;
    }

    &__item {
      flex-direction: column;
      width: 130px;
      text-align: center;
      line-height: 20.16px;
    }

    &__item:nth-child(1) {
      width: 120px;
    }

    &__header {
      position: absolute;
      top: 40px;
      right: 50%;
      transform: translateX(50%) rotate(0deg);
    }
  }
  @media screen and (min-width: 1920px) {
    &__item:nth-child(2) {
      width: 100px;
    }

    &__item:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.08s;
    }
  }
}

// Benefits container styles
.benefitsContainer {
  font-family: 'Plus Jakarta Sans', sans-serif;
  width: 100%;
  margin: 50px auto;
  .item1 { grid-area: item1; }
  .item2 { grid-area: item2; }
  .item3 { grid-area: item3; }
  .item4 { grid-area: item4; }
  .item5 { grid-area: item5; }
  .item6 { grid-area: item6; }

  &__header {
    width: 340px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  &__list {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6';
    gap: 20px;
    margin: 50px auto 0;
  }

  &__item {
    display: flex;
    gap: 20px;
    width: 340px;
    height: 36px;
    align-items: center;
    line-height: 17.64px;
  }

  &__item svg {
    width: 22px;
    height: 22px;
  }

  &__bold {
    font-weight: 800;
  }

  @media screen and (min-width: 768px) {
    &__header {
      width: 416px;
    }

    &__list {
      width: 550px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'item3 item2'
        'item6 item4'
        'item5 item1';
      gap: 40px;
    }

    &__item {
      width: 253px;
      font-size: 16px;
      line-height: 20.16px;
    }

    &__item svg {
      width: 40px;
      height: 40px;
    }
  }
  @media screen and (min-width: 1920px) {
    &__header {
      width: 816px;
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'item3 item2 item4'
        'item6 item5 item1';
      gap: 60px;
      width: 919px;
    }

    &__item {
      &:hover {
        .benefitsContainer__iconWrapper {
          svg {
            path {
              fill: #c2110e;
            }
          }
        }
      }
    }
  }
}

// USDA container styles
.usdaContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  background-color: #f5f5f5;

  &__img {
    width: 133px;
  }

  &__text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 313px;
    line-height: 17.64px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    &__text {
      line-height: 20.16px;
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1920px) {
    &__text {
      width: 351px;
    }
  }
}


// Slider section styles
.sliderSection {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f9e8e7;
  width: 100%;
  padding: 30px 0;
  text-align: center;

  &__productNameRed {
    color: #c2110e;
    font-weight: 800;
    font-size: 50px;
    line-height: 48.25px;
  }

  &__productName {
    color: #0b0a0c;
  }

  &__button {
    background-color: #0b0a0c;
    border: none;
    padding: 11px 42px;
    width: 360px;
    border-radius: 15px;
    margin: 0 auto;

    h2 {
      color: #ffffff;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 22px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 30px 0 70px;
  }
}

// Glide slider styles
.glide {
  width: 100%;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  cursor: default;

  &--slidesWithDescription {
    display: flex;
    flex-direction: column;
  }

  &__description {
    width: 362px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    line-height: 27.72px;
  }

  &__bold {
    font-weight: 600;
    font-size: 22px;
  }

  // Slides section
  &__track {
    height: 257px;
    width: 258px;
    margin: 0 auto;
    cursor: grab;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
  }

  &__container {
    display: flex;
    gap: 34px;

    img {
      height: 82px;
      width: 112px;
    }
  }

  &__singleProduct {
    display: flex;
    flex-direction: column;
    gap: 3px;
    line-height: 17.64px;
  }

  // Navigation bar for glide
  &--navigationContainer {
    max-width: 174px;
  }

  &__navigation {
    margin: 30px auto;
    display: grid;
    place-items: center;
  }

  &__arrow {
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16.72px;
    height: 24px;

    &--right {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__arrows img {
    object-fit: contain;
  }

  &__progress {
    height: 11px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
  }

  @media screen and (min-width: 768px) {
    &__singleProduct {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 100%;
    &--slidesWithDescription {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: max-content;
      margin: 0 auto;
      gap: 50px;
    }

    &__description {
      width: 347px;
      text-align: left;
      margin: 0;
    }
  }
}


.processContainer {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0 auto;
  position: relative;

  // Decorative circles
  &::after,
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: absolute;
  }

  &::after {
    bottom: 17px;
    left: 351px;
  }

  &::before {
    top: 140px;
    left: 350px;
  }

  &__header {
    font-weight: 800;
    font-size: 48px;
    line-height: 51.36px;
    text-align: center;
    margin: 30px auto;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__contentItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;

    &:nth-of-type(even) {
      align-self: end;
    }
  }

  &__contentHeader {
    font-weight: 600;
    font-size: 16px;
    line-height: 27.72px;
  }

  &__contentText {
    width: 280px;
    font: 400 14px/17.64px 'Plus Jakarta Sans', sans-serif;
  }

  &__iconsWrapper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  // Arrow styling
  &__arrowWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    .processContainer__contentItem:first-of-type & {
      display: none;
    }

    .processContainer__contentItem:nth-of-type(odd) & {
      transform: scaleX(-1) translateX(50%) translateY(-50%);
      left: 50%;
    }
  }

  // Even items styling
  &__contentItem:nth-of-type(even) {
    padding-right: 10px;
    .processContainer__iconsWrapper {
      justify-content: flex-end;
    }

    .processContainer__itemContentWrapper {
      text-align: right;
      align-self: end;
    }
  }

  &__contentItem:nth-of-type(odd) {
    padding-left: 10px;
  }

  // Tablet and larger screens
  @media screen and (min-width: 768px) {
    width: 711px;
    padding-bottom: 20px;

    &__content {
      background: url('/assets/swirling-line.svg') no-repeat center;
      background-position-y: 12px;
      background-size: 14%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__contentItem {
      width: 390px;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      // Even items styling
      &:nth-of-type(even) {
        align-self: flex-end;

        .processContainer__iconsWrapper {
          justify-content: flex-start;
        }

        .processContainer__itemContentWrapper {
          text-align: left;
          &:after,
          &:before {
            content: '';
            position: absolute;
            bottom: 1px;
            background-color: #f5f5f5;
          }

          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 0;
            transform: translateX(-50%) translateY(50%);
          }

          &:before {
            width: 300px;
            height: 4px;
            left: 0;
            transform: translateX(27%) translateY(56%);
          }
        }
      }

      // Odd items styling
      &:nth-of-type(odd) {
        padding: 0;
        flex-direction: row-reverse;

        .processContainer__iconsWrapper {
          justify-content: flex-end;
        }

        .processContainer__itemContentWrapper {
          text-align: right;

          &:after,
          &:before {
            content: '';
            position: absolute;
            bottom: 1px;
            background-color: #f5f5f5;
          }

          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 0;
            transform: translateX(-10%) translateY(50%);
          }

          &:before {
            width: 300px;
            height: 4px;
            left: 0;
            transform: translateX(3%) translateY(56%);
          }
        }
      }

      // Specific item adjustments
      &:nth-of-type(1) {
        margin-top: 15px;
        .processContainer__iconsWrapper {
          margin: 0 10px 27px 0;
        }
      }

      &:nth-of-type(2) {
        margin-top: 15px;
        .processContainer__iconsWrapper {
          margin: 0 0 24px 10px;
        }
      }

      &:nth-of-type(3) {
        margin-top: 32px;
        .processContainer__iconsWrapper {
          margin: 0 10px 15px 0;
        }
      }

      &:nth-of-type(4) {
        margin-top: 10px;
        .processContainer__iconsWrapper {
          margin: 0 0 22px 10px;
        }
      }
    }

    &__contentText {
      width: 300px;
      padding-bottom: 5px;
    }

    &__contentHeader,
    &__contentText {
      font-size: 16px;
      line-height: 20.16px;
    }

    &__iconsWrapper {
      width: max-content;
      height: auto;
    }

    &__arrowWrapper {
      display: none;
    }
  }

  // Desktop and larger screens
  @media screen and (min-width: 1920px) {
    width: 938px;
    padding: 0;

    &::after {
      bottom: 46px;
      left: 466px;
    }

    &::before {
      top: 116px;
      left: 464px;
    }

    &__content {
      height: 900px;
      background-size: 13%;
      background-position-y: 35px;
    }

    &__itemContentWrapper p {
      width: 380px;
    }

    &__contentItem {
      width: 503px;
      min-height: 170px;

      &:nth-of-type(1) {
        margin-top: 60px;
      }

      &:nth-of-type(2) {
        margin: 27px 0 0;

        .processContainer__iconsWrapper {
          margin: 0 0 10px 8px;
        }

        .processContainer__itemContentWrapper {
          margin: 0 42px 25px 0;
        }
      }

      &:nth-of-type(3) {
        margin: 35px 0 36px;

        .processContainer__iconsWrapper {
          margin: 0 10px 17px 0;
        }

        .processContainer__itemContentWrapper {
          margin: 21px 0 0;
        }
      }

      &:nth-of-type(4) {
        margin-top: 0;
        max-height: 140px;

        .processContainer__iconsWrapper {
          margin: 0 0 25px 5px;
        }

        .processContainer__itemContentWrapper {
          margin: 0 28px 50px 0;
        }
      }

      // Odd items styling for desktop
      &:nth-of-type(odd) {
        .processContainer__itemContentWrapper {
          margin-left: 50px;

          &:after,
          &:before {
            content: '';
            position: absolute;
            background-color: #f5f5f5;
          }

          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            bottom: 42px;
            left: 130px;
            transform: translateX(-10%) translateY(50%);
          }

          &:before {
            width: 300px;
            height: 4px;
            bottom: 41px;
            left: 123px;
            transform: translateX(3%) translateY(56%);
          }
        }
      }

      // Even items styling for desktop
      &:nth-of-type(even) {
        .processContainer__itemContentWrapper {
          &:after,
          &:before {
            content: '';
            position: absolute;
            background-color: #f5f5f5;
          }

          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            bottom: 26px;
            right: 124px;
            transform: translateX(-10%) translateY(50%);
          }

          &:before {
            width: 300px;
            height: 4px;
            bottom: 26px;
            left: 60px;
            transform: translateX(3%) translateY(56%);
          }
        }
      }
    }
  }
}

.footer {
  background: #f5f5f5;
  font-family: 'Plus Jakarta Sans', sans-serif;
  width: 393px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  &__FAQ {
    font: 800 20px 'Plus Jakarta Sans', sans-serif;
    text-align: center;
  }

  &__accordionItem {
    margin-top: 20px;
  }

  &__accordionHeaderWrapper {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-right: 0;
  }

  &__accordionHeader {
    font: 600 14px 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 20px;
  }

  &__accordionArrow,
  &__accordionArrowUp {
    height: 15px;
    width: 24px;
  }

  &__accordionArrowUp {
    transform: rotate(180deg);
  }

  &__accordionContent {
    width: 295px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    &--hidden {
      display: none;
    }
  }

  &__bold {
    font-weight: 700;
  }

  // Tablet and larger screens
  @media screen and (min-width: 768px) {
    width: 100%;

    &__accordionHeaderWrapper {
      width: 100%;
    }

    &__accordionHeader {
      font-size: 16px;
    }
  }
  
  // Desktop and larger screens
  @media screen and (min-width: 1920px) {
    &__accordion {
      width: 800px;
      margin: 0 auto;
    }
  }
}
