@use 'header';
@use 'mainImageContainer';
@use 'propertiesList';
@use 'subscribeContainer';
@use 'benefitsContainer';
@use 'usdaContainer';
@use 'slidesContainer';
@use 'footer';
@use 'processContainer';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



body {
  width: 393px;
  margin: 0 auto;
  font-family: 'Plus Jakarta Sans', sans-serif;


  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}